body {
  padding-bottom: 4rem;
}

.list-group-item:hover {
  cursor: pointer;
  background: #efefef;
}

.search-bar {
  margin: 2rem auto;
}

.search-bar p {
  text-align: center;
}

.media-left {
  margin-right: 1rem;
}